.speciality{
    height: 100%;
    display: inline-block;
}
.specialities-container {
    width: 90vw;
    overflow: scroll;
}
.specialities-container::-webkit-scrollbar {
    width: 100%;
    background-color: #F5F5F5;
}
   
.specialities-container::-webkit-scrollbar-thumb {
    background-color: #000000;
}
  
.specialities-container {
    animation: scroll 30s linear infinite;
}
  
@keyframes scroll {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
    