@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.ttf') format('truetype');
}  

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}